{{set . "title" "Home"}}
{{template "header.html" .}}

<div style="padding: 1px">
    <button onclick="getRaceList()">POST /api/getRaceList</button>
    data:{"dt":"2016-05-21","city":"саратов","name":"роло"}
</div>
<div style="padding: 1px">
    <button onclick="getRaceInfo('edec71a9-f2cb-44c9-b142-d2d3747307b1')">POST /api/getRaceInfo</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1"}
</div>
<div style="padding: 1px">
    <button onclick="getClassList('edec71a9-f2cb-44c9-b142-d2d3747307b1')">POST /api/getClassList</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1"}
</div>
<div style="padding: 1px">
    <button onclick="getMarshalList('edec71a9-f2cb-44c9-b142-d2d3747307b1')">POST /api/getMarshalList</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1"}
</div>
<div style="padding: 1px">
    <button onclick="getMarshalInfo('edec71a9-f2cb-44c9-b142-d2d3747307b1', 2)">POST /api/getMarshalInfo</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1","mNumber":2"}
</div>
<div style="padding: 1px">
    <button onclick="getClassInfo('edec71a9-f2cb-44c9-b142-d2d3747307b1', 'ba37e1bc-9df6-4db8-884e-c68d127cec21')">POST /api/getClassInfo</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1","classUID":"ba37e1bc-9df6-4db8-884e-c68d127cec21"}
</div>
<div style="padding: 1px">
    <button onclick="getCheckpointList('edec71a9-f2cb-44c9-b142-d2d3747307b1', 'ba37e1bc-9df6-4db8-884e-c68d127cec21')">POST /api/getCheckpointList</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1","classUID":"ba37e1bc-9df6-4db8-884e-c68d127cec21"}
</div>
<div style="padding: 1px">
    <button onclick="getCheckpointInfo('edec71a9-f2cb-44c9-b142-d2d3747307b1', 'ba37e1bc-9df6-4db8-884e-c68d127cec21', 2)">POST /api/getCheckpointInfo</button>
    data:{"raceUID":"edec71a9-f2cb-44c9-b142-d2d3747307b1","classUID":"ba37e1bc-9df6-4db8-884e-c68d127cec21","number":2"}
</div>

<script>
    function getRaceList() {
        sendPost("/api/getRaceList", {
            "dt": "2016-05-21",
            "city": "ара",
            "name": "рол"
        });
    };
    function getRaceInfo(raceUID) {
        sendPost("/api/getRaceInfo", {
            "raceUID": raceUID,
        });
    };
    function getClassList(raceUID) {
        sendPost("/api/getClassList", {
            "raceUID": raceUID,
        });
    };
    function getMarshalList(raceUID) {
        sendPost("/api/getMarshalList", {
            "raceUID": raceUID,
        });
    };
    function getMarshalInfo(raceUID, mNumber) {
        sendPost("/api/getMarshalInfo", {
            "raceUID": raceUID,
            "mNumber": mNumber,
        });
    };
    function getClassInfo(raceUID, classUID) {
        sendPost("/api/getClassInfo", {
            "raceUID": raceUID,
            "classUID": classUID,
        });
    };
    function getCheckpointList(raceUID, classUID) {
        sendPost("/api/getCheckpointList", {
            "raceUID": raceUID,
            "classUID": classUID,
        });
    };
    function getCheckpointInfo(raceUID, classUID, num) {
        sendPost("/api/getCheckpointInfo", {
            "raceUID": raceUID,
            "classUID": classUID,
            "number": num,
        });
    };
    
    
    
    
    function sendPost(url, data) {
        $.ajax({
            type: 'POST',
            host: '/',
            port: '9000',
            url: url,
            data: data,
            success: function (data, textStatus, jqXHR) {                
                var obj = JSON.parse(data)               
                console.dir(obj);            
            },
            error: function (jqXHR, textStatus, errorThown) {
                console.error(jqXHR);
            }
        });
    }    
</script>

{{template "footer.html" .}}
