{{set . "title" "vtEnduro"}}
{{append . "moreScripts" "/js/testAPI.js"}}
{{template "header.html" .}}
<style>
    th { text-align: center }
    td {font-size:90%}
    .td1 { width: 15%; font-weight: bold}
    .td2 { width: 20%;}
    .td3 { width: 30%;}
    .td4 { width: 5%; text-align: center }
    .td5 { width: 30%; white-space: pre}    
</style>
<h1 style="margin-left:20px">REST API под проект эндуро гонок v.0.0.3</h1>
<h3 style="margin-left:20px">Функциональные тесты</h3>
<table class="table table-bordered table-hover">
    <thead class="thead" style="background: black; color: white">
        <tr>
            <th>метод</th>
            <th>параметры</th>
            <th>описание</th>
            <th>Тест</th>
            <th>Ответ</th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>
{{template "footer.html" .}}
